<!doctype html>
<html>
    <body>
        ID: {{ node.address.nid.encode('hex') }}
        <br/>
        IP: {{ node.address.ip }}
        <br/>
        PORT: {{ node.address.port }}
        <br/>
        <br/>
        PEERS
        <br/>
        <table border="1">
        {% for n in node.table.nodes %}
            <tr>
                <td> {{ n.nid.encode('hex') }} </td>
                <td> {{ n.ip }} </td>
                <td> {{ n.port }} </td>
            </tr>
        {% endfor %}
        </table>
    <body/>
</html>
