<!doctype html>
<html>
    <body>
        ID: {{ node.address.nid.encode('hex') }}
        <br/>
        IP: {{ node.address.ip }}
        <br/>
        PORT: {{ node.address.port }}
        <br/>
        <br/>
        PEERS
        <br/>
        {% for bucket in node.table.buckets  %}
            {% if bucket %}
            <br/>
            BUCKET# {{ loop.index }}
            <table border="1">
                {% for n in bucket  %}
                <tr>
                    <td> {{ n.cts }} </td>
                    <td> {{ n.nid.encode('hex') }} </td>
                    <td> {{ n.ip }} </td>
                    <td> {{ n.port }} </td>
                </tr>
                {% endfor %}
            </table>
            {% endif %}
        {% endfor %}
    <body/>
</html>
